:root {
  --background-image:linear-gradient (120deg,#00B594,rgba(1, 84, 69, 0.67));
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: white;
   
  
}

img {
  max-width: 100%;
}
body{
  font-family: "Manrope", sans-serif;
}

.home {
  background: url(./pexels-andre-moura-4021521.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  background-position:center;
  height: 100vh;
}

.home .overlay{
background-color:var(--background-image);
display: flex;
align-items: center;
justify-content: center;
min-height: 10;
}